<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1><%= title %></h1>
      <table>
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Friendly Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach( (category, index) => { %> <% if (index !== 0) {
          %>
          <tr>
            <td><%= category.category_name %></td>
            <td><%= category.friendly_name %></td>
            <td class="edit-btn" data-index="<%= category.id %>">
              <button>✏️</button>
            </td>
            <td class="del-btn" data-index="<%= category.id %>">
              <button>❌</button>
            </td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </main>
    <%- include('modalEditCat') %>
    <script src="/js/editCat.js"></script>
  </body>
</html>
