<dialog
  id="edit-category-modal"
  class="<%= modalShown %>"
  data-index="<%= category.id %>"
>
  <h2>Add New Category</h2>
  <form>
    <label for="cat-name">Category Name</label>
    <input
      type="text"
      id="cat-name"
      name="cat-name"
      placeholder="<%= category.category_name %>"
      maxlength="30"
      minlength="2"
      value="<%= category.category_name %>"
    />
    <label for="cat-friendly-name">Friendly Name</label>
    <input
      type="text"
      id="cat-friendly-name"
      name="cat-friendly-name"
      placeholder="<%= category.friendly_name %>"
      maxlength="50"
      minlength="5"
      value="<%= category.friendly_name %>"
    />
    <div class="btn-container">
      <button type="submit">Save Category</button>
      <button type="button" id="close-cat-modal">Cancel</button>
    </div>
  </form>
</dialog>
